

body{
	background: url("../images/oscar.statue.jpg") no-repeat center center fixed;
	background-size: cover;
	color: whitesmoke;

}

h1{
	font-family: "orange_juiceregular";
	font-size: 90px;
	margin-top: 3vh;
	margin-bottom: 1vh;
}

.row{
	margin-bottom: 4vh;
	margin-left: 3vw;
	margin-right: 3vw;
}

.btn{
	font-family: "minnieregular";
	font-size: 16px;
	background-color: black;
	color: white;
	padding: 1vh 1vw;
}

.btn:hover{
	color: #efad07;
}



.Button{
	margin: .5vh 1vw;
}

.dotted-border{
	border: 6px double #efad07;
}

.textinput{
	font-family: "Comic Sans MS";
	font-size: 18px;
	font-weight: 800;
	color:#dfab33;
	line-height:  25px;
}

.gif-image{
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.individual-gif-container{
	float: left;
	margin: 2vh 3vw 2vh 3vw;
}

#submit{
	margin-top: 1.5vh;
}

#Actors{
	margin-top: 1.5vh;
	width: 100%;
	color: red;
}

#Actorsfocus{
	outline: 2px solid #efad07 !important;
}

#gif-container{
	font-size: 22px;
}

